<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TLake's Python Learning Journal</title>
    <link href='http://fonts.googleapis.com/css?family=Overlock:400,700|Philosopher:400,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/codehilite.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <header>
      {% block log_btn %}
      <aside id='user-controls'>
        <ul>
        {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">log in</a></li>
        {% else %}
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
        {% endif %}
        </ul>
      </aside>
      {% endblock %}
        <h1>Learning Journal</h1>
        <h2>Code Fellows: Python Development Accelerator</h2>
        <h3>Seattle, Summer 2015</h3>
        <h4>- a project by <a id='personal-site' href='http://tannerjlake.com'>tanner lake</a> -</h4>
    </header>
    <nav>
        <ul>
          <li><a class='nav-link' href="/">Home</a></li>
          {% if request.authenticated_userid %}
          <li><a class='nav-link' id="new-entry-btn" href="{{ request.route_url('create', entry_id='new') }}">New Entry</a></li>
          {% endif %}
        </ul>
    </nav>
    <section>
        {% block section %}
        {% endblock %}
    </section>
    <footer>
        <p>&copy; 2015 Tanner Lake</p>
    </footer>
  </body>
</html>
