{% extends "base.jinja2" %}
{% block section %}
        <h1 class="entry-header">{{ entry.title }}</h1>
        <h2 class="entry-header">{{ entry.created.strftime('%b. %d, %Y') }}</h2>
        {% if request.authenticated_userid %}
        <a class="edit" href="{{ request.route_url('edit_entry', entry_id=entry.id) }}">Edit This Entry</a>
        {% endif %}
        <p class="textwall">{{ entry.text | safe }}</p>
{% endblock %}
