{% extends "base.jinja2" %}
{% block section %}
  {% if request.authenticated_userid %}
    <form class="edit_entry" action="{{ request.route_url('edit', entry_id=entry.id) }}" method="POST">
      <p>Entry Title:</p>
      <input id="entry-title" type="text" name="title" value="{{ entry.title }}" />
      <p>Entry Content:</p>
      <textarea id="entry-text" name="text">{{ entry.text }}</textarea>
      <input id="post-entry-btn" class="bottom-tab-btn" type="submit" value="Done!" name="Done!"/>
    </form>
  {% endif %}
{% endblock %}
