{% extends "base.jinja2" %}
{% block section %}

  <div id='primary-content'>
    {% include 'list_guts.jinja2' %}
  </div>

  <div id='ajax-content' class='hide-on-start'>
    {% include 'edit_guts.jinja2' %}
  </div>
{% endblock %}
