{% extends "base.jinja2" %}
{% block section %}
  {% for entry in entries %}
    <article class="entry" id="entry={{entry.id}}">
      <h1 class="entry-header">{{ entry.title }}</h1>
      <h2 class="entry-header">{{ entry.created.strftime('%b. %d, %Y') }}</h2>
      <p class="textwall">
        {{ entry.text|safe }}
      </p>
    </article>
  {% else %}
  <article class="entry">
    <h1 class="entry-header">No entries here so far</h1>
  </article>
  {% endfor %}
{% endblock %}
