{% extends "base.jinja2" %}
{% block section %}

  <div id='list-guts'>
    {% include 'list_guts.jinja2' %}
  </div>

  <div id='edit-guts' class='hide-on-start'>
    {% include 'edit_guts.jinja2' %}
  </div>
{% endblock %}
