{% extends "base.jinja2" %}

{% block log_btn %}
{% endblock %}

{% block section %}
  {% if error %}
  <p class="error"><strong>Error</strong>: {{ error }}
  {% endif %}
  <form action="{{ request.route_url('login') }}" method="POST">
    <p>Username</p>
    <input type="text" name="username" id="username"/>
    <p>Password</p>
    <input type="password" name="password" id="password"/>
    <input class="bottom-tab-btn" type="submit" name="Login" value="Login"/>
  </form>
{% endblock %}