/********************************
General Styling
********************************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border-bottom: 10px solid #444;
  text-align: center;
  max-width: 100%;
}

.heading-container {
  font-family: 'Philosopher', sans-serif;
  max-width: 100%;
  margin: 0;
  background-color: #444;
}

.content-container {
  font-family: 'Overlock', sans-serif;
  max-width: 90%;
  margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}



/********************************
Header
********************************/

header {
  max-width: 90%;
  margin: 0 auto;
  color: #eee;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

header h2,
header h3 {
  font-size: 1.7rem;
}

header h4 {
  font-family: 'Overlock', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 40px;
}



/********************************
Nav
********************************/

nav {
  text-align: center;
  margin-top: 0;
}

nav ul {
  margin: 0;
  max-width: 100%;
}

nav li {
  display: inline-block;
  margin: 10px;
  margin-bottom: 0;
}

nav a {
  max-width: 100%;
  padding: 10px;
  display: block;
  background-color: #99f;
  border-radius: 10px 10px 0 0;
}

nav .current-page {
  background-color: #fff;
}



/********************************
Main Content
********************************/
section {
  margin: 20px 0;
}

section li {
  margin: 20px 0;
}

section a {
  max-width: 100%;
  padding: 10px 0;
  background-color: #ddd;
  display: block;
  font-size: 1.5rem;
  border-radius: 5px;
}



/********************************
Footer
********************************/

footer {
  font-family: 'Philosopher', sans-serif;
  border-top: 1px solid #444;
}



