/********************************
General Styling
********************************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  max-width: 100%;
  background-image: linear-gradient(rgba(144,0,32,0.4), rgba(144,0,32,0.4)),
                    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                    url('../img/leather.jpg');
  background-size: cover;
}

.heading-container {
  font-family: 'Philosopher', sans-serif;
  max-width: 100%;
  margin: 0;
}

.content-container {
  font-family: 'Overlock', sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fbf4da;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}



/********************************
Header
********************************/

header {
  max-width: 90%;
  margin: 0 auto;
  color: #eee;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  padding-top: 30px;
}

header h2,
header h3 {
  font-size: 1.2rem;
}

header h4 {
  font-family: 'Overlock', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 40px;
}



/********************************
Nav
********************************/

nav {
  text-align: center;
  margin-top: 0;
}

nav ul {
  margin: 0;
  max-width: 100%;
}

nav li {
  display: inline-block;
  margin: 10px;
  margin-bottom: 0;
}

nav a {
  max-width: 100%;
  padding: 10px;
  display: block;
  background-color: #999;
  border-radius: 10px 10px 0 0;
}

nav .current-page {
  background-color: #fbf4da;
}



/********************************
Main Content
********************************/
section {
  margin: 20px 0;
}

section li {
  margin: 20px 0;
  background-color: #66f;
  border-radius: 2px 2px 20px;
}

section a {
  max-width: 100%;
  padding: 10px;
  background-color: #ddd;
  display: block;
  font-size: 1.5rem;
  border-radius: 20px 2px;
  box-shadow: 0 5px 2px -2px #999;
}



/********************************
Footer
********************************/

footer {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  color: #eee;
}

footer p {
  margin: 0;
  padding: 20px 0;
}


